@model CarPartsAccounting.Models.sales

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Скидки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sale_percent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sale_percent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
